body{
  background-color:#CF8080;
}
h1,p {
  text-align:center;
  color: #592A2A;
}

.container{
  display:flex;
  background-color:black;
  width:1860px;
}

.container div{
  background-color: #944D4D;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  content: center;
}

footer {
  background-color: black;
}

.social a{
  color:white;
  margin 0 1rem;
  font-size:1.2rem;
}


 
  